# Виртуальное окружение
venv/

# Папки кэша
__pycache__/
*.py[cod]

# Логи
*.log

# Файлы csv
*.csv

# Временные файлы
*.tmp

# Файлы конфигурации IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфиденциальных данных
*.env